@mixin animation($shorthand...) {
	animation: $shorthand;
	-webkit-animation: $shorthand;
	-moz-animation: $shorthand;
	-o-animation: $shorthand;
}

@mixin keyframes( $animationName ) {
  @-webkit-keyframes $animationName {
    @content;
  }
  @-moz-keyframes $animationName {
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName {
    @content;
  }
}

@mixin prefix($property, $value...) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value; 
}

// Gradients for almost everyone! (thanks Rob)
@mixin gradient($from, $to, $dir:"vert") {
// fallback/image non-cover color
  background-color: darken($from, 5%);

  @if $dir == "vert" {
  // Firefox 3.6+
    background-image: -moz-linear-gradient($from, $to);
  // Safari 4+, Chrome 1+
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  // Safari 5.1+, Chrome 10+
    background-image: -webkit-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
  // Opera 11.10+
    background-image: -o-linear-gradient($from, $to);
  // Old IEs
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
  } @else if $dir == "hor" {
    background: -moz-linear-gradient(left, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(left, $from 0%,$to 100%);
    background: -o-linear-gradient(left, $from 0%,$to 100%);
    background: linear-gradient(to right, $from 0%,$to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  }
}